.class1{
    background-color: blueviolet;
    color: brown;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class2{
    background-color: royalblue;
    color: yellowgreen;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divA{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.divD{
    background-color: blueviolet;
    color: brown;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

